# ============================================
# API
# ============================================
NEXT_PUBLIC_API_URL=http://localhost:1337/api
NEXT_PUBLIC_STRAPI_URL=http://localhost:1337
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# ============================================
# TELEGRAM
# ============================================
NEXT_PUBLIC_BOT_USERNAME=gramjob_bot
NEXT_PUBLIC_MINI_APP_URL=https://t.me/gramjob_bot/app

# ============================================
# AUTH
# ============================================
NEXTAUTH_SECRET=changeme
NEXTAUTH_URL=http://localhost:3000
