# ============================================
# API
# ============================================
NEXT_PUBLIC_API_URL=http://localhost:1337/api
NEXT_PUBLIC_STRAPI_URL=http://localhost:1337

# ============================================
# TELEGRAM
# ============================================
NEXT_PUBLIC_BOT_USERNAME=GramJobBot
NEXT_PUBLIC_MINI_APP_URL=https://t.me/GramJobBot/app

# ============================================
# AUTH
# ============================================
NEXTAUTH_SECRET=changeme
NEXTAUTH_URL=http://localhost:3000
